* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: hsl(217, 19%, 35%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 223, 226);
}

p {
  font-size: 12px;
  color: hsl(212, 23%, 69%);
}

h1 {
  font-size: 18px;
  padding-bottom: 16px;
}

.card {
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 250px;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
}

.drawers-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-position: left;
}

.text {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 24px;
}

.michelle-img {
  width: 40px;
  border-radius: 25px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  position: relative;
}

.arrow {
  width: 12px;
  height: 14px;
  background: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 25px;
  color: hsl(214, 17%, 51%);
}

.arrow:hover {
  background-color: hsl(214, 17%, 51%);
  cursor: pointer;
  color: white;
}

.user-details {
  display: flex;
}

.name {
  font-weight: 700;
  color: hsl(214, 17%, 51%);
}

.name-date {
  padding-left: 16px;
}

.share-popup {
  display: flex;
  background-color: #48556a;
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  position: absolute;
  bottom: 55px;
  left: 200px;
  /* top: 48%;
  left: 56%; */
  visibility: hidden;
}

.share-popup img {
  padding-left: 16px;
  height: 16px;
}

.share {
  letter-spacing: 4px;
}

.caret {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
}

.share-popup-mobile {
  visibility: hidden;
}

@media screen and (max-width: 375px) {
  .card {
    flex-direction: column;
    width: 325px;
    height: 475px;
    justify-content: start;
    align-items: center;
  }

  body {
    flex-direction: column;
    width: 100vw;
  }

  .drawers-img {
    width: 325px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 175px;
  }

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .user-info {
    padding-top: 26px;
  }

  .share-popup-mobile {
    display: flex;
    flex-direction: row;
    background-color: hsl(217, 19%, 35%);
    width: 325px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
    position: absolute;
    bottom: 96px;
    visibility: hidden;
  }

  .arrow-mobile {
    background-color: hsl(214, 17%, 51%);
    color: white;
    margin-right: 36px;
    padding: 6px;
    border-radius: 30px;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos img {
    width: auto;
    height: 16px;
    padding-left: 16px;
  }

  .share {
    padding-left: 36px;
  }
}
